@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #ebebeb;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #2d2d2d;
}
.navbar{
    font-size: 16px;
}
.form-control{
    width: 400px;
}
#carouselExampleControls{
    margin-top: 100px;
}
.img-categori{
    width: 50px;
}
.row-container{
    background-color: #ffffff;
    margin: 0px;
}
.img-fluid.rounded-start{
    width: 100%;
    height: 6vw;
    object-fit: cover;
}
#body-trending{
    width: 100%;
    height: 6vw;
    object-fit: cover;
}
.outset{
    padding: 5px 20px;
    margin-bottom: 5px;
    background-color: #ffffff;
    border-bottom: 3px solid #840cd4;
}
.card-img-top {
    width: 100%;
    height: 12vw;
    object-fit: cover;
}
.img-flashsale{
    margin-top: 5px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.progress{
    text-align: center;
}
.card:hover{
    border: 1px solid #840cd4;
}
.menu-kategori:hover{
    transform: scale(1.1);
}